In [1]:
import pandas as pd

#Sample Dataframe
data = {
    'Name': ['Alice', 'Bob', 'James'],
    'Math': [80, 78, 92],
    'Science': [92, 80, 77],
    'English': [85, 88, 94]
}

df = pd.DataFrame(data)

print(df)

    Name  Math  Science  English
0  Alice    80       92       85
1    Bob    78       80       88
2  James    92       77       94

In [13]:
df_melted = df.melt(id_vars=["Name"], 
                    value_vars=["Math", "Science", "English"], 
                    var_name="Subject", 
                    value_name="Score")
print(df_melted)

    Name  Subject  Score
0  Alice     Math     80
1    Bob     Math     78
2  James     Math     92
3  Alice  Science     92
4    Bob  Science     80
5  James  Science     77
6  Alice  English     85
7    Bob  English     88
8  James  English     94

In [14]:
pivoted_df = df_melted.pivot_table(index="Name", columns="Subject", values="Score", aggfunc="mean")
print(pivoted_df)

Subject  English  Math  Science
Name
Alice       85.0  80.0     92.0
Bob         88.0  78.0     80.0
James       94.0  92.0     77.0